<tr>
  <td><a href='./posts/<%=post.id%>'><%= post.title %></a></td>
  <td><%= post.content %></td>
  <td><a href="./posts/<%=post.id%>/edit">Edit</a></td>
  <td><a href="./posts/<%=post.id%>?_method=DELETE">Delete</a></td>
</tr>
